html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.landing-page {
  background-image: linear-gradient(
    45deg,
    #cc0000,
    #cc0000 49%,
    #000 51%,
    #fff 50%,
    #fff
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixed-nav {
  isolation: isolate;
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2px;
  cursor: pointer;
}

#component-state-mount {
  display: none;
  height: 0;
  width: 0;
}