:root {
  --base-palette-hex: #090719;
  --base-palette-tint-100: #090719;
  --base-palette-tint-200: #130e33;
  --base-palette-tint-300: #1c164d;
  --base-palette-tint-400: #261d68;
  --base-palette-tint-500: #302583;
  --base-palette-tint-600: #3a2c9d;
  --base-palette-tint-700: #4334b8;
  --base-palette-tint-800: #5444ca;
  --base-palette-tint-900: #6c5fd2;
  --base-palette-tint-max: #8579d9;
  --base-palette-accent-100: #1e1b3f;
  --base-palette-accent-200: #47406b;
  --base-palette-accent-300: #65d8d6;
  --base-palette-accent-400: #99ffef;
  --base-text-color: white;
}
